// ------------------------------------------------------------------- //
// Kentucky Extends
// ------------------------------------------------------------------- //
// Show / Hide Elements
// To be used in jQuery as a toggle class
// ------------------------------------------------------------------- //

.is-shown{
  display: block;
}
.is-hidden{
  display: none;
}


// ------------------------------------------------------------------- //
// Add / Remove Floats
// ------------------------------------------------------------------- //

%float-left{
  float: left;
}
%float-right{
  float: right;
}
%float-none{
  float: none;
}


// ------------------------------------------------------------------- //
// Text Alignment
// ------------------------------------------------------------------- //

%text-left{
  text-align: left;
}
%text-right{
  text-align: right;
}
%text-center{
  text-align: center;
}


// ------------------------------------------------------------------- //
// Muted
// ------------------------------------------------------------------- //

%muted{
  opacity: .5;
  filter: alpha(opacity=50);
}


// ------------------------------------------------------------------- //
// "Go"
//
// Add right-facing arrow, indicating movement through site
// ------------------------------------------------------------------- //

%go{
  &:after{
    content: "\00A0" "\OOBB";
  }
}


// ------------------------------------------------------------------- //
// Breadcrumbs
//
// Must be extended in the ul of the breadcrumbs
// Adds auto-magical separators
// ------------------------------------------------------------------- //

// Simple breadcrumb ">"
%breadcrumb{
  & > li + li:before{
    content:"\00BB" "\00A0";
  }
}

// Path breadcrumb "/"
%breadcrumb--path{
  & > li + li:before{
    content:"\002F" "\00A0";
  }
}

%breadcrumb__root{
    font-weight:bold;
}



// ------------------------------------------------------------------- //
// Caps Lock - Calm down there, champ...
// ------------------------------------------------------------------- //

%caps{
  text-transform: uppercase;
}