// ------------------------------------------------------------------- //
//  Convert Pixel to REM
//
//  Credit: https://github.com/mariusz/remify
// ------------------------------------------------------------------- //

$base-font-size: 16px !default;

@function remify($px){
  $base-rem-size: $base-font-size / 1rem;

  // If value is 0, return 0
  @if $px == 0 {
    @return 0;
  }

  @if type-of(px) == "number" {

    @return $px / $base-rem-size;

  } @else {

    $rems: ();

    @each $value in $px{

      @if $value == 0{
        $rems: append($rems, $value);
      } @else {
        $rems: append($rems, ($value / $base-rem-size));
      }
    }

    @return $rems;
  }
}

@mixin rem($property, $values){
  #{$property}: $values;
  #{$property}: remify($values);
}

