// Truncate single-lined elements

@mixin truncate($truncate-width){

  display: inline-block;

  // Ensure width has a value
  @if unitless($truncate-width){
    max-width: $truncate-width + px;
  }
  @else {
    max-width: $truncate-width;
  }

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
