// ------------------------------------------------------------------- //
//  Grid Settings
// ------------------------------------------------------------------- //

$max-width: 960px !default;
$grid-columns: 12 !default;
$column: $max-width / $grid-columns !default;

// ------------------------------------------------------------------- //
//  Set Container
// ------------------------------------------------------------------- //

@mixin outer-container {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

// ------------------------------------------------------------------- //
//  Set Rows
// ------------------------------------------------------------------- //

@mixin row {
  display: block;
  width: 100%;
  @include clearfix;
}

// ------------------------------------------------------------------- //
//  Set Widths
// ------------------------------------------------------------------- //

@mixin span-columns($col-size, $flow: left) {
  $col-width: percentage($col-size / $grid-columns);

  @if $col-size > $grid-columns {
    @warn "Column size can not be greater than max-columns (12).";

  } @else {
    float: left;
    width: $col-width;
    margin-bottom: 1rem;
    padding: 0 1rem;

    @if $flow == "right"{
      float: right;
    }
  }
}

// ------------------------------------------------------------------- //
//  Shift
// ------------------------------------------------------------------- //

@mixin shift($col-shift) {
  $shift: percentage($col-shift / 12);

  @if $col-shift > 12 {
    @warn "Can not shift greater than max-columns (12).";

  } @else {
    margin-left: $shift;
    padding: 0;
  }
}

// ------------------------------------------------------------------- //
//  Gap
// ------------------------------------------------------------------- //

@mixin gap($direction) {

  @if $direction == "left" {
    margin-left: 1rem;
    padding-left: 0;
  }

  @else if $direction == "right" {
    margin-right: 1rem;
    padding-left: 0;
  }

  @else if $direction == "both" {
    margin: 0 1rem;
    padding: 0;
  }

  @else {
    @warn "Gap requires 'left', 'right', or 'both'. Please choose a valid direction.";
  }
}

// ------------------------------------------------------------------- //
//  Hug
// ------------------------------------------------------------------- //

@mixin hug($direction){

  @if $direction == "left" {
    padding-left: 0;
  }

  @else if $direction == "right" {
    padding-right: 0;
  }

  @else if $direction == "both" {
    padding: 0;
  }

  @else {
    @warn "Hug requires 'left', 'right', or 'both'. Please choose a valid direction.";
  }
}