// Truncate single-lined elements

@mixin truncate($truncate-width){

  display: inline-block;

  // Ensure width has a value
  @if unitless($truncate-width){
    $width: $truncate-width + px;
    max-width: $width;
  }
  @else if not(unitless($truncate-width)){
    $width: $truncate-width;
    max-width: $width;
  }

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
