// ------------------------------------------------------------------- //
// Default Kentucky Variables
// ------------------------------------------------------------------- //
// Project Settings
// ------------------------------------------------------------------- //

$debug-mode:        false !default;
$use-media:         false !default;
$use-sprite:        false !default;
$use-breadcrumb:    false !default;
$use-split:         false !default;

// If use-sprite is set to true, input relevant values
$sprite-sheet-loc:    "sprite sheet url.png";
$sprite-sheet-grid:   36px;


// ------------------------------------------------------------------- //
// Typographic Variables
// ------------------------------------------------------------------- //

$base-font-family:    $helvetica !default;
$base-font-size:      14px !default;
$base-line-height:    1 !default;
$base-font-color:     #333 !default;

$giga-size:           96px !default;
$mega-size:           72px !default;
$kilo-size:           48px !default;

$h1-size:             42px !default; // %alpha
$h2-size:             36px !default; // %bravo
$h3-size:             24px !default; // %charlie
$h4-size:             20px !default; // %delta
$h5-size:             18px !default; // %echo
$h6-size:             16px !default; // %foxtrot

$milli-size:          12px !default;
$micro-size:          10px !default;


// ------------------------------------------------------------------- //
// Brand Variables
// ------------------------------------------------------------------- //

$brand-font-family:   $helvetica !default;
$brand-color:         #333 !default;
$brand-round:         3px !default; // Used for rounded corners

$link-color:          #bebebe !default;


// ------------------------------------------------------------------- //
// Base Spacing Units
// ------------------------------------------------------------------- //

$base-spacing-unit: $base-line-height !default;
$half-spacing-unit: $base-spacing-unit / 2 !default;


// ------------------------------------------------------------------- //
// Media Query Widths
// ------------------------------------------------------------------- //

$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 990px 8);
$laptop: new-breakpoint(max-width 1440px 12);

// ------------------------------------------------------------------- //
// Single Direction Margins
//
// Any block level elements should be added to this list as well.
// Keeping the margins in one direction will avoid margin collapse
// issues and keep spacing consistant.
// ------------------------------------------------------------------- //

h1, h2, h3, h4, h5, h6,
ul, ol, dd,
section, article, p,
pre, table, fieldset, hr{
  margin-bottom: ($base-font-size / $base-line-height); // IE8 Fallback
  margin-bottom: 1rem;
}