// ------------------------------------------------------------------- //
//  Form Normaliztion; akin to Formalize
// ------------------------------------------------------------------- //

fieldset{
  margin: 0 0 ($base-line-height / 2) 0;
  padding: $base-line-height;
  background: lighten($base-border-color, 10%);
  border: 1px solid $base-border-color;
}

label{
  margin-bottom: $base-line-height / 4;
  font-weight: bold;

  &.required:after{
    content: "*";
  }
}

#{$all-text-inputs},
textarea{
  width: 100%;
  margin-bottom: $base-line-height / 2;
  padding: ($base-line-height / 3) ($base-line-height / 3);
  background: #fff;
  border: 1px solid $form-border-color;
  border-radius: $form-border-radius;
  box-shadow: $form-box-shadow;
  font: $form-font-size / $base-line-height $form-font-family;
  @include transition(border-color);

  &:hover{
    border-color: $form-border-color-hover;
  }

  &:focus{
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea{
  resize: vertical;
}

input[type="search"]{
  appearance: none;
}

input[type="checkbox"],
input[type="radio"]{
  display: inline;
  margin-right: $base-line-height / 4;
}

button,
input[type="submit"]{
  appearance: none;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}
