// ------------------------------------------------------------------- //
// Kentucky Mixins & Helper Classes
// ------------------------------------------------------------------- //

// Show / Hide elements
// Use with jQuery

.is-shown{
	display: block;
}
.is-hidden{
	display: none;
}


// Hide Text
// Use only as an extend

%hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


// Add / remove floats
// Use only as an extend when used for sections or block elements
// Ex: Buckets, nav-lists, etc.

%float-left{
	float: left !important;
}
%float-right{
	float: right !important;
}
%float-none{
	float: none !important;
}


// Text Alignment

%text-left{
	text-align: left !important;
}
%text-right{
	text-align: right !important;
}
%text-center{
	text-align: center !important;
}


// Non-standard border width specification

@mixin border($border-widths, $border-style, $border-color){
	border: $border-style $border-color;
	border-width: $border-widths;
}


// Mute DOM elements
// 100%-based percentage ($muted-opacity: 50 = 50%)

@mixin muted($muted-opacity){
	opacity: ($muted-opacity / 100) !important;
	filter: alpha(opacity = $muted-opacity) !important;
}


// Sticky Footer
// Requires full site wrapper and <div class="push"></div>
// immediately before the footer

@if $sticky-footer == true{
	
	html,
	body{
		height: 100%;
	}
	
	.wrapper{
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -$footer-height;
	}
	
	footer,
	.footer,
	.push{
		height: $footer-height;
	}
	
} // END if


// Sprite Sheet Mixin

@mixin sprite($col, $row){
	background: url($sprite-shet-loc) no-repeat ($col * -$sprite-sheet-grid) ($row * -$sprite-sheet-grid);
}


// ------------------------------------------------------------------- //
// Inuit Mixins - inuitcss.com
// ------------------------------------------------------------------- //


// Media Object
// Left / right objects with no content wrapping under media-img

@if $use-media == true{

	.media{
		display:block;
		@include clearfix;
		
		.media-img{
			float: left;
			margin-right: $base-spacing-unit;
		}
		.media-img-flipped{
			float: right;
			margin-left: $base-spacing-unit;
		}
		
		.media-body{
			overflow: hidden;
			
			&,
			& > :last-child{
				margin-bottom: 0;
			}
		} // END media-body
	} // END media

} // END if


// Truncation
// Single line text truncation (boundary is a width)
// If multi-line is required, use Badonkatrunc: http://badonkatrunc.com/

@mixin truncate($truncation-boundary){
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}