// ------------------------------------------------------------------- //
//  Project Settings
// ------------------------------------------------------------------- //
//  Block Grid
// 
//  Set to "true" if flexbox isn't supported or if you desire a more
//  standard grid. Block-grid utilizes floats and percentages.

$block-grid: false;





// ------------------------------------------------------------------- //
//  Fonts

$base-font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$brand-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;



// ------------------------------------------------------------------- //
//  Sizes

$base-space: 20px;

$base-font-size: 16px;
$base-line-height: 1.2;

$base-border-radius: 3px;


// Heading Sizes

$giga-size:  96px; // %giga
$mega-size:  72px; // %mega
$kilo-size:  48px; // %kilo

$h1-size:    42px; // %alpha
$h2-size:    36px; // %bravo
$h3-size:    24px; // %charlie
$h4-size:    20px; // %delta
$h5-size:    18px; // %echo
$h6-size:    16px; // %foxtrot

$milli-size: 12px; // %milli
$micro-size: 10px; // %micro


// ------------------------------------------------------------------- //
//  Weights

$lightest:  100;
$light:     300;
$normal:    400;
$semibold:  600;
$bold:      700;
$black:     900;


// ------------------------------------------------------------------- //
//  Colors

//  Base colors
$base-font-color:  #333;
$base-border-color: #ddd;

//  Brand colors
$brand-color: #477DCA; // Blue

//  Link Colors
$base-link-color:  $brand-color;


// ------------------------------------------------------------------- //
//  Forms

$form-border-color:       $base-border-color;
$form-border-color-hover: shade($base-border-color, 10%);
$form-border-color-focus: $brand-color;
$form-border-radius:      $base-border-radius;

$form-font-family: $base-font-family;
$form-font-size:   $base-font-size;


// ------------------------------------------------------------------- //
//  Grid

$max-width: 1200px;


// ------------------------------------------------------------------- //
//  Media Queries

$mobile:  480px;
$tablet:  990px;
$laptop:  1440px;
$desktop: 1920px;
