// ------------------------------------------------------------------- //
//  Project Settings 
// ------------------------------------------------------------------- //
// ------------------------------------------------------------------- //
//  Typography
// ------------------------------------------------------------------- //

$base-font-family: $helvetica;
$brand-font-family: $helvetica;


// ------------------------------------------------------------------- //
//  Sizes
// ------------------------------------------------------------------- //

$base-font-size:   16px;
$base-line-height: 24px;

$base-border-radius: 3px;

// Heading Sizes

$micro-size: 10px; // %micro
$milli-size: 12px; // %milli

$h1-size:    42px; // %alpha
$h2-size:    36px; // %bravo
$h3-size:    24px; // %charlie
$h4-size:    20px; // %delta
$h5-size:    18px; // %echo
$h6-size:    16px; // %foxtrot

$kilo-size:  48px; // %kilo
$mega-size:  72px; // %mega
$giga-size:  96px; // %giga


// ------------------------------------------------------------------- //
//  Weights
// ------------------------------------------------------------------- //

$lightest: 100;
$light:    300;
$normal:   400;
$semibold: 600;
$bold:     700;
$black:    900;


// ------------------------------------------------------------------- //
//  Colors
// ------------------------------------------------------------------- //

//  Base colors
$base-body-color:  #fff;
$base-font-color:  #333;
$base-border-color: #ddd; // Also serves as <hr> color

//  Brand colors
$brand-color: #477DCA; // Blue

//  Link Colors
$base-link-color:  $brand-color;
$hover-link-color: lighten($brand-color, 10%);


// ------------------------------------------------------------------- //
//  Grid Overrides
// ------------------------------------------------------------------- //

// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);


// ------------------------------------------------------------------- //
//  Media Query Widths
//
//  [max-width] [in pixels] [columns]
// ------------------------------------------------------------------- //

$mobile:  new-breakpoint(max-width 480px 4);
$tablet:  new-breakpoint(max-width 990px 8);
$laptop:  new-breakpoint(max-width 1440px 12);
$desktop: new-breakpoint(max-width 1920px 12);