// ------------------------------------------------------------------- //
//  Base Typographic Rules
// ------------------------------------------------------------------- //
//  If text is white/light againts a dark background, include an
//  override for [1] : -webkit-font-smoothing: antialiased;
//
//  See test page for examples of both:
//  http://files.christophzillgens.com/webkit-font-smoothing.html

html {
  color: $base-font-color;
  font: #{$base-font-size} / #{$base-line-height} $base-font-family;
  -webkit-font-smoothing: subpixel-antialiased; // [1]
}





// ------------------------------------------------------------------- //
//  Headings
// ------------------------------------------------------------------- //

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $base-space;
  font-family: $brand-font-family;
  font-weight: $normal;
}

h1,
%alpha{
  font-size: $h1-size;
}

h2,
%bravo{
  font-size: $h2-size;
}

h3,
%charlie{
  font-size: $h3-size;
}

h4,
%delta{
  font-size: $h4-size;
}

h5,
%echo{
  font-size: $h5-size;
}

h6,
%foxtrot{
  font-size: $h6-size;
}



// ------------------------------------------------------------------- //
//  Heading Group

%hgroup {
  margin-bottom: $base-space;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: ($base-space / 2);
  }
}





// ------------------------------------------------------------------- //
//  Extra Large / Small Extends
// ------------------------------------------------------------------- //

%giga{
  font-size: $giga-size;
}

%mega{
  font-size: $mega-size;
}

%kilo{
  font-size: $kilo-size;
}

%milli{
  font-size: $milli-size;
}

%micro{
  font-size: $micro-size;
}





// ------------------------------------------------------------------- //
//  Links
// ------------------------------------------------------------------- //

a {
  color: $base-link-color;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: tint($base-link-color, 15%);
  }
}