// ------------------------------------------------------------------- //
// Kentucky Helper Extensions
// ------------------------------------------------------------------- //
// Show / Hide Elements
// To be used in jQuery
// ------------------------------------------------------------------- //

.is-shown{
  display: block;
}
.is-hidden{
  display: none;
}


// ------------------------------------------------------------------- //
// Add / Remove Floats
// ------------------------------------------------------------------- //

%float-left{
  float: left;
}
%float-right{
  float: right;
}
%float-none{
  float: none;
}


// ------------------------------------------------------------------- //
// Text Alignment
// ------------------------------------------------------------------- //

%text-left{
  text-align: left;
}
%text-right{
  text-align: right;
}
%text-center{
  text-align: center;
}


// ------------------------------------------------------------------- //
// Muted
// ------------------------------------------------------------------- //

%muted{
  opacity: .5;
  filter: alpha(opacity=50);
}


// ------------------------------------------------------------------- //
// "Go" - Add right-facing arrow, indicating movement through site
// ------------------------------------------------------------------- //

%go:after{
  content: "\00A0" "\OOBB";
}


// ------------------------------------------------------------------- //
// Caps Lock - Calm down there, champ...
// ------------------------------------------------------------------- //

%caps{
  text-transform: uppercase;
}