// ------------------------------------------------------------------- //
//  Preset Font Family Stacks
// ------------------------------------------------------------------- //

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucida:    "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$verdana:   Verdana, Geneva, sans-serif;

$georgia:   Georgia, Cambria, "Times New Roman", Times, serif;

$monospace: "Menlo", "Bitstream Vera Sans Mono", Consolas, Courier, monospace;