// ------------------------------------------------------------------- //
//  Media Objects
// ------------------------------------------------------------------- //
//  For replies / nested content, nest new @media objects within the 
//  @media-body of the parent

@mixin media {
  display: flex;
  align-items: flex-start;
}

// Media Image
@mixin media-figure {
  margin-right: $base-space;
}

// Media Content
@mixin media-body {
  flex: 1;
}