// ------------------------------------------------------------------- //
// Main
// ------------------------------------------------------------------- //
// Kentucky Headings
// 
// The goal here is to define headings and establish practical
// font-sizing from the get go.
//
// Also includes a "double-stranded hierarchy" allowing you to use HTML
// heading elements or the alternate extend included (based on the 
// military alphabet).
// ------------------------------------------------------------------- //

@include headings(1,6){
  font-family: $brand-font-family;
}

h1,
%alpha{
  @include font-size($h1-size);
}

h2,
%bravo{
  @include font-size($h2-size);
}

h3,
%charlie{
  @include font-size($h3-size);
}

h4,
%delta{
  @include font-size($h4-size);
}

h5,
%echo{
  @include font-size($h5-size);
}

h6,
%foxtrot{
  @include font-size($h6-size);
}


// ------------------------------------------------------------------- //
// Heading Groups
// 
// Target a group of headers stacked together (such as title/subtitle)
// ------------------------------------------------------------------- //

%hgroup{
  @include headings(1,6){
    margin-bottom: 0;
  }
}


// ------------------------------------------------------------------- //
// A set of extends for massive type (heroes, mastheads, etc.)
// ------------------------------------------------------------------- //

%giga{
  @include font-size($giga-size);
}
%mega{
  @include font-size($mega-size);
}
%kilo{
  @include font-size($kilo-size);
}


// ------------------------------------------------------------------- //
// What is this? Type for ants?!
// ------------------------------------------------------------------- //

%milli{
  @include font-size($milli-size);
}

%micro{
  @include font-size($micro-size);
}


// ------------------------------------------------------------------- //
// Basic Page Setup
// ------------------------------------------------------------------- //

html{
  font: #{($base-font-size/16px)*1em} / #{$base-line-height} $base-font-family;
  min-height: 100%;
  overflow-y: scroll;
} // END html

body{
  background: #fff;
} // END body

a{
  color: $link-color;
  @include transition(all .3s linear);
  
  &:hover, &:focus{
    color: lighten($link-color, 15%);
  }
} // END a