// ------------------------------------------------------------------- //
//  Form Element Normalization
//  
//  General styles to better standardize / simplify default form
//  elements.
// ------------------------------------------------------------------- //

fieldset {
  margin: 0 0 ($base-spacing / 2) 0;
  padding: $base-spacing;
  background: lighten($base-border-color, 10);
  border: $base-border;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  margin-bottom: $base-spacing / 4;
  font-weight: bold;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  width: 100%;
  margin-bottom: $base-spacing / 2;
  padding: ($base-spacing / 3) ($base-spacing / 3);
  background-color: white;
  border: 1px solid $form-border-color;
  border-radius: $form-border-radius;
  font-family: $form-font-family;
  font-size: $form-font-size;
  box-shadow: $form-box-shadow;
  transition: border-color, .3s;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-spacing / 4;
}

input[type="file"] {
  width: 100%;
  padding-bottom: $base-spacing / 2;
}

select {
  max-width: 100%;
  width: auto;
  margin-bottom: $base-spacing;
}