// ------------------------------------------------------------------- //
// Main
// ------------------------------------------------------------------- //

html{
  font: #{($base-font-size/16px)*1em} / #{$base-line-height} $base-font-family;
  min-height: 100%;
  overflow-y: scroll;
} // END html

body{
  background: #fff;
} // END body

a{
  color: $link-color;
  @include transition(all .3s linear);
  
  &:hover, &:focus{
    color: lighten($link-color, 15%);
  }
} // END a