// ------------------------------------------------------------------- //
//  Project Settings
//  
//  This file houses variables related to brand and overall stylistic
//  elements (fonts, sizes, colors, etc.) that should be used across
//  the site.
//  
//  This is a basic set for initial functionality but any project-
//  related variables that need to be global should exist in this file.
//  
//  Local variables should still exist in the file in which they are
//  required.
// ------------------------------------------------------------------- //


// ------------------------------------------------------------------- //
//  Typography

$base-font-family:   "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;



// ------------------------------------------------------------------- //
//  Font Sizes

$base-font-size: 16px;

$h1-font-size: 42px;
$h2-font-size: 36px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$h6-font-size: 16px;



// ------------------------------------------------------------------- //
//  Line Height

$base-line-height:   1.5;
$header-line-height: 1.2;



// ------------------------------------------------------------------- //
//  Other Sizes

$base-border-radius: 3px;

$base-spacing: 20px;



// ------------------------------------------------------------------- //
//  Colors

//  Background Color
$base-background-color: white;

//  Font Colors
$base-font-color:   #333;
$base-accent-color: #b4d455;

//  Link Colors
$base-link-color:  $base-accent-color;
$hover-link-color: shade($base-link-color, 15%);

//  Button Colors
$base-button-color:  $base-link-color;
$hover-button-color: $hover-link-color;

//  Border Colors
$base-border-color: #ddd;
$base-border: 1px solid $base-border-color;



// ------------------------------------------------------------------- //
//  Forms

$form-border-color:       $base-border-color;
$form-border-color-hover: shade($base-border-color, 10%);
$form-border-color-focus: $base-accent-color;
$form-border-radius:      $base-border-radius;

$form-box-shadow: inset 0 1px 3px rgba(black, .1);
$form-box-shadow-focus: $form-box-shadow,
                        0 0 5px rgba($form-border-color-focus, .5);

$form-font-family: $base-font-family;
$form-font-size:   $base-font-size;



// ------------------------------------------------------------------- //
//  Media Queries

$mobile:  480px;
$tablet:  990px;
$laptop:  1440px;
$desktop: 1920px;



// ------------------------------------------------------------------- //
//  Z-Index Map

$z-map: ("base":    0,
         "nav":     10,
         "overlay": 20,
         "modal":   30);
