// ------------------------------------------------------------------- //
// Breadcrumbs
// ------------------------------------------------------------------- //

@if $use-breadcrumb == true{

  // Simple breadcrumb ">"
  .breadcrumb > li + li:before{
      content:"\00BB" "\00A0";
  }

  // Path breadcrumb "/"
  .breadcrumb--path > li + li:before{
      content:"\002F" "\00A0";
  }

  // Denote the root of the tree
  .breadcrumb__root{
      font-weight:bold;
  }

} // END if