// ------------------------------------------------------------------- //
// Media Objects
// ------------------------------------------------------------------- //

@if $use-media == true{

  .media{
    display:block;
    @extend %cf;
    
    .media__img{
      float: left;
      margin-right: $base-spacing-unit;
    }
    .media__img-rev{
      float: right;
      margin-left: $base-spacing-unit;
    }
    
    .media__body{
      overflow: hidden;
      
      &,
      & > :last-child{
        margin-bottom: 0;
      }
    } // END media-body
  } // END media

} // END if