// ------------------------------------------------------------------- //
// Split
// ------------------------------------------------------------------- //

@if $use-split == true{

  %split{
    margin-left: 0;
    text-align: right;

    .split__title{
      float: left;
      clear: both;
      text-align: left;
    }
  }

} // END if
